
/* ----------------------------------------- */
.cuerpo{
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#111;
    background-size:16px 16px;

    color:white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-top:100px;
}

.fondo{
    color:white;
    margin-bottom:100px;
}
.fondo:hover{
    color:red;
}

.icono{
    width:50px;
    margin:5px;
    margin-top: 40px;
}